#como-fazer {
  padding: 20px 0px;
  background-image: linear-gradient(to bottom, #8b968d, #58715d);

  .tutorial-bg {
    display: grid;
    gap: 40px;
    padding: 10px;
    margin: 0px 10px;
    background-color: #abbcae;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.25);

    .dica {
      display: grid;
      gap: 10px;
      padding: 20px 15px;
      background-color: #333;
      justify-items: center;

      img {
        width: auto;
        max-height: 400px;
        border-radius: 15px;
        object-fit: contain;
        object-position: center;
      }

      .titulo {
        font-size: 45px;
        text-align: center;
      }

      .texto {
        font-size: 30px;
        margin-bottom: 20px;
        text-align: start;
      }

      .tipos {
        display: grid;
        gap: 20px;

        .box {
          position: relative;
          left: -14.5px;
          padding: 10px 10px 10px 20px;
          display: flex;
          gap: 15px;
          align-items: center;
          background-image: linear-gradient(to right, #1e221f, #383c39);
          border-radius: 0px 15px 15px 0px;

          img {
            width: auto;
            height: 130px;
            border-radius: 15px;
          }

          .titulo {
            font-size: 39px;
            font-weight: 500;
          }

          .texto {
            font-size: 20px;
            text-align: start;
          }

          .titulo {
            text-align: start;
          }
        }

        .box.direita {
          left: 14.5px;
          padding: 10px 20px 10px 10px;
          border-radius: 15px 0px 0px 15px;

          .texto,
          .titulo {
            text-align: end;
          }
        }
      }
    }

    .dica.claro {
      background-color: #5b6b5e;
    }

    .dica.claro.img {
      background-image: linear-gradient(#5b6b5e 80%, #abbcae 20%);
    }

    .dica.escuro {
      background-color: #454a45;
    }

    .dica.escuro.img {
      background-image: linear-gradient(#454a45 80%, #abbcae 20%);
    }

    .dica.img {
      .titulo {
        margin-bottom: 20px;
      }
    }
  }

  .especificidades {
    display: grid;
    gap: 40px;

    h2.titulo {
      font-size: 60px;
      text-align: center;
      margin-top: 40px;
    }

    .especificidade {
      display: flex;
      gap: 10px;
      padding: 80px 15px;
      background-size: 100% 100%;
      align-items: center;

      img {
        width: 180px;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
      }

      .titulo {
        font-size: 40px;
        text-align: center;
        margin-bottom: 10px;
      }

      .texto {
        text-align: start;
      }
    }

    .especificidade.aquatico {
      background-image: url("../imgs/aquatico-bg.png");
    }

    .especificidade.desertico {
      background-image: url("../imgs/desertico-bg.png");
    }

    .especificidade.tropical {
      background-image: url("../imgs/tropical-bg.png");
    }

    .especificidade.miniJardim {
      background-image: url("../imgs/mini-jardim-bg.png");
    }
  }
}
